build
CMakeLists.txt.user

#Testing related files
tests/.cache/
tests/__pycache__/
tests/pyrg.so

#example binary files
examples/*.so
examples/*.pyc
examples/*.pyd

#app binary files
ReebAnatomy/*.so
ReebAnatomy/*.pyc
ReebAnatomy/*.pyd
